@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  height: 100%;
}
.section1 {
  width: 100%;
  height: 100vh;

  /* background-color: black; */
}

.title {
}
.titleContainer {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
}

.titleText {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  color: ;
}
.titleName {
  color: #294b93;
}

@keyframes section {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
