@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

.section03-title {
  font-size: 80px;
  width: 100%;
  text-align: center;
  margin-top: 0;
  font-family: "Roboto";
  font-weight: 500;
}

.section03 {
  background-color: #009fb7;
  padding-top: 5%;
  padding-bottom: 5%;

  position: relative;
}
.section03-row {
  margin-top: 10%;
  /* background-color: red; */
  position: relative;
}
.row-title {
  text-align: center;
}

.section03-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* border: 3px green solid; */
  position: relative;
}
.section03-company-logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.company-img {
  width: 100%;
}
.company-title {
  font-family: "Viga";
  font-size: 50px;
}
.company-role {
  font-weight: 600;
}
.company-date {
  font-family: "Roboto";
  font-weight: 500;
}
.company-description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .section03-company-logo {
    position: relative;
    text-align: center;
    margin-bottom: 40%;
    width: 50%;
  }
  .section03-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    /* border: 3px green solid; */
    position: relative;
  }
}
